:root {
  --primary-color: #6c63ff;
  --accent-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --subtitle-color: rgba(0, 0, 0, 0.7);
}

.container {
  margin-top: 80px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 96px;
  margin: 8px;
}
h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  color: var(--subtitle-color);
}
.button {
  display: flex;
  justify-content: center;
}

button {
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}
#contact {
  background: var(--primary-color);
  color: var(--accent-color);
}
#about {
  background-color: var(--accent-color);
  border-color: var(--primary-color);
}
